.App {
  text-align: center;
  justify-content:center;
}

.Calculator {
  margin: auto;
  margin-top:5px;
  height: 145px;
  width: 115px;
}

.Display{
  background: black;
  color: white;
  height:30px;
  text-align: right;
  padding-right:2%;
}

.KeyPad {
  height:115px;
  background: black;
  color: white;
  display:grid;
  grid-template-columns: 20px 20px 20px 20px;
  justify-content: space-evenly;
}

.item0 {
  grid-column: 1 / span 2;
  border-radius:10px;
  height:20px;
  width:auto;
  text-align: left;
}

.item {
  border-radius: 50%;
  height:20px;
  width:20px;
}

.opp {
  background:orange;
  color:white;
  border:none;
}

.util {
  background:lightgrey;
  color:black;
  border:none;
  font-size: 8px;
  padding:10%;
}

.num {
  background:#333333;
  color:white;
  border:none;
}