.App {
  text-align: center;
  justify-content:center;
}

.Calculator {
  margin: auto;
  margin-top:5px;
  height: 600px;
  width: 375px;
}

.Display{
  background: black;
  color: white;
  height:150px;
  text-align: right;
  padding-right:2%;
  font-size:40px;
  line-height:150px;
}

.KeyPad {
  height:450px;
  background: black;
  color: white;
  display:grid;
  grid-template-columns: 60px 60px 60px 60px;
  justify-content: space-evenly;
}

.item0 {
  grid-column: 1 / span 2;
  border-radius:15px;
  height:60px;
  font-size: 20px;
  width:auto;
  text-align: left;
}

.item {
  border-radius: 50%;
  height:60px;
  width:60px;
  font-size: 20px;
  font-weight:bold;
}

.opp {
  background:orange;
  color:white;
  border:none;
}

.util {
  background:lightgrey;
  color:black;
  border:none;
  font-size: 20px;
  padding:10%;
}

.num {
  background:#333333;
  color:white;
  border:none;
}